
<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand font1-2">Flash Cards!</a>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <a href="/logout" class="text-right"><img class="menupic2" src="~/Images/Logout.png" alt="Logout"></a>
                    <a href="/home" class="text-right text-dark"><img class="menupic" src="~/Images/Home.png" alt="Home"></a>
                </div>
            </div>
        </nav>
</header>