<head>
    <link rel="stylesheet" href="~/css/Home.css" />
</head>

<partial name="_Header">
<br>



<div class="row text-center">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <div class="jumbotron">
            <h1 class="fnt1 animated fadeInDown">WELCOME @ViewBag.CurrentUser.Name.ToUpper()</h1>
            <p class="fnt2"><a href="/newgroup">CREATE NEW CARD GROUP</a></p>
            <br>
            <p class="fnt2"><a href="/allgroups">SEE ALL MY CARD GROUPS</a></p>
            <br>
            <p class="fnt2"><a href="">QUIZ</a></p>
            <br>
            <br>
            <br>
            <br>
            <p class="fnt2 fnt3"><a href="">OTHER USER CARD GROUPS</a></p>
        </div>
    </div>
</div>