a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    width: 50%;
  }

.menupic{
    width: 16%;
  }
      .menupic2{
        width: 20%;
        margin-left: 1%;
      }
      .menupic3{
        width: 6%;
      }